$theme-colors: (
    'background-color': rgb(20,29,38),
    'nav-color': rgba(36,52,71,0.85),
    'text-color': #000
);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.App {
    background-color: map-get($theme-colors, 'background-color');
}

.container-fluid {
    .header-nav-content {
        position: fixed;
        background: map-get($theme-colors, 'nav-color');
        width: 100%;
        height: 59px;
        margin: 0;
        display: block;
        z-index: 100;
        backdrop-filter: blur(10px);
        
        .header-word-list {
            text-align: center;
            width: auto;

            .header-component {
                display: inline-block;
                position: relative;

                .header-link {
                    padding: 0 25px;
                    top: 50%;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    text-align: center;
    height: 5000px;
    color: white;
}

@media screen and (min-width: 321px) {
    .header-nav-content {
        border: solid red;

        .header-link {
            margin: 0;
            font-size: 16px;
            line-height: 2px;
        }
    }

    main {
        padding-top:80px;
        width: 85%;
        text-align: center;
    }
}

@media screen and (min-width: 576px) {
    .header-nav-content {
        border: solid purple;

        .header-link {
            font-size: 18px;
            line-height: 2.3px;
        }
    }
}
@media screen and (min-width: 768px) {
    .header-nav-content {
        border: solid yellow;

        .header-link {
            margin: 25px;
            font-size: 18px;
            line-height: 2.3px;
        }
    }

}
@media screen and (min-width: 992px) {
    .header-nav-content {
        border: solid blue;

        .header-link {
            margin: 45px;
            font-size: 20px;
            line-height: 3px;
        }
    }

}
@media screen and (min-width: 1200px) {
    .header-nav-content {
        border: solid green;

        .header-link {
            margin: 60px;
            font-size: 20px;
            line-height: 3px;
        }
    }
}