$theme-colors: (
    'background-color': rgb(241, 241, 241),
    'nav-color': rgba(36,52,71,0.85),
    'text-color': rgba(36, 36, 36, 0.9)
);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.App {
    background-color: map-get($theme-colors, 'background-color');
}

.container-fluid {
    .header-nav-content {
        position: fixed;
        background: map-get($theme-colors, 'nav-color');
        width: 100%;
        height: 59px;
        margin: 0;
        display: block;
        z-index: 100;
        backdrop-filter: blur(10px);
        font-family: 'Oxygen', sans-serif;
        
        .header-word-list {
            text-align: center;
            width: 80%;
            margin-left: 10%;

            .header-component {
                display: inline-block;
                position: relative;

                .header-link {
                    padding: 0 15px;
                    top: 50%;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

    .intro {
        color: map-get($theme-colors, 'text-color');
    }
}

@media screen and (min-width: 200px) {
    .header-nav-content {

        .header-link {
            margin: 0;
            font-size: 15px;
            line-height: 2px;
        }
    }

    main {
        padding-top:80px;
        width: 90%;
        margin-left: 5%;
        height: 1000px;
        
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.4em;
        }
    }
}

@media screen and (min-width: 321px) {
    .header-nav-content {

        .header-link {
            margin: 0;
            font-size: 16px;
            line-height: 2px;
        }
    }

    main {
        padding-top:80px;
        width: 90%;
        margin-left: 5%;
        height: 1000px;
        
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.4em;
        }
    }
}

@media screen and (min-width: 576px) {
    .header-nav-content {

        .header-link {
            font-size: 18px;
            line-height: 2.3px;
        }
    }

    main {
        padding-top:84px;
        width: 85%;
        margin-left: 7.5%;
        height: 1500px;
        
        h1 {
            font-size: 3.2em;
        }

        h2 {
            font-size: 1.6em;
        }
    }
}
@media screen and (min-width: 768px) {
    .header-nav-content {

        .header-link {
            margin: 25px;
            font-size: 18px;
            line-height: 2.3px;
        }
    }

    main {
        padding-top:93px;
        width: 80%;
        margin-left: 10%;
        height: 2000px;
        
        h1 {
            font-size: 3.6em;
        }

        h2 {
            font-size: 1.9em;
        }
    }
}
@media screen and (min-width: 992px) {
    .header-nav-content {

        .header-link {
            margin: 45px;
            font-size: 20px;
            line-height: 3px;
        }
    }

    main {
        padding-top: 93px;
        width: 75%;
        margin-left: 12.5%;
        
        h1 {
            font-size: 3.7em;
        }

        h2 {
            font-size: 2em;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header-nav-content {

        .header-link {
            margin: 60px;
            font-size: 20px;
            line-height: 3px;
        }
    }
}