$theme-colors: (
    'background-color': rgb(241, 241, 241),
    'input-background-color': rgb(255, 255, 255),
    'button-color': #63707e,
    'nav-color': rgba(36,52,71,0.8),
    'text-color': rgba(36, 36, 36, 0.99),
    'social-media-color': rgba(77, 77, 77, 0.95),
    'facebook-color': #3b5998,
    'instagram-color': #c13584,
    'linkedin-color': #0077b5,
    'github-color': #4078c0,
    'hackerrank-color': #13a538
);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.App {
    background-color: map-get($theme-colors, 'background-color');
}

.container-fluid {
    .header-nav-content {
        position: fixed;
        background: map-get($theme-colors, 'nav-color');
        width: 100%;
        height: 59px;
        margin: 0;
        display: block;
        z-index: 100;
        backdrop-filter: blur(10px);
        font-family: 'Oxygen', sans-serif;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        
        .header-word-list {
            text-align: center;
            width: 80%;
            margin-left: 10%;

            .header-component {
                display: inline-block;
                position: relative;

                .header-link {
                    padding: 0 15px;
                    top: 50%;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .contact-form {
        font-family: 'Oxygen', sans-serif;
        .input-component {
            .form-control {
                text-align: center;
                border-radius: 25px;
                background-color: map-get($theme-colors, 'input-background-color');
            }
        }
        .button-submit {
            color: white;
            width: 175px;
            height: 45px;
            border-radius: 25px;
            background-color: map-get($theme-colors, 'button-color');
            outline: none;
        }
        .button-react {
            border-radius: 25px;
            color: map-get($theme-colors, 'text-color');
            outline: none;
        }
        .button-submit:hover {
            background-color: map-get($theme-colors, 'nav-color');
        }
        .button-react:hover {
            border: solid map-get($theme-colors, 'nav-color');
        }
        .button-submit:disabled {
            color: lightgray;
        }
        #spinner {
            box-sizing: content-box;
            margin-top: -3px;
        }
    }
}


.footer-container {
    .social-media-container{
        text-align: center;
        width: 100%;
        .fab {
            color: map-get($theme-colors, 'social-media-color');
            height: 60px;
            width: 60px;
            margin-bottom: 40px;
            margin-top: 80px;
            text-decoration: none;
            box-sizing: content-box;
            span {
                height: 1px;
                width: 1px;
                position: absolute;
                overflow: hidden;
                top:-10px;
            }
        }

        .fa-facebook:hover{
            color: map-get($theme-colors, 'facebook-color');
        }
        .fa-instagram:hover{
            color: map-get($theme-colors, 'instagram-color');
        }
        .fa-linkedin-in:hover{
            color: map-get($theme-colors, 'linkedin-color');
        }
        .fa-github:hover{
            color: map-get($theme-colors, 'github-color');
        }
        .fa-hackerrank:hover{
            color: map-get($theme-colors, 'hackerrank-color');
        }
    }
}


main {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    .intro {
        color: map-get($theme-colors, 'text-color');
    }
}

@media screen and (min-width: 200px) {
    .header-nav-content {
        .header-link {
            margin: 0;
            font-size: 15px;
            line-height: 2px;
        }
    }

    main {
        padding-top:80px;
        width: 90%;
        margin-left: 5%;
        
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.4em;
        }
    }

    .fab {
        margin-right: 3px;
        margin-left: 3px;
    }

    .input-component {
        .form-control {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #message {
            height: 170px;
            border-radius: 20px;
        }
    }

    .button-react {
        width: 85px;
        height: 40px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .button-submit {
        margin-top: 15px;
    }
}

@media screen and (min-width: 321px) {
    .header-nav-content {
        .header-link {
            margin: 0;
            font-size: 16px;
            line-height: 2px;
        }
    }

    main {
        padding-top:80px;
        width: 90%;
        margin-left: 5%;
        
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.4em;
        }
    }

    .fab {
        margin-right: 7px;
        margin-left: 7px;
    }

    .button-react {
        width: 105px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (min-width: 576px) {
    .header-nav-content {
        .header-link {
            font-size: 18px;
            line-height: 2.3px;
        }
    }

    main {
        padding-top:84px;
        width: 85%;
        margin-left: 7.5%;
        
        h1 {
            font-size: 3.2em;
        }

        h2 {
            font-size: 1.6em;
        }
    }

    .fab {
        margin-right: 10px;
        margin-left: 10px;
    }

    .button-react {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (min-width: 768px) {
    .header-nav-content {

        .header-link {
            margin: 25px;
            font-size: 18px;
            line-height: 2.3px;
        }
    }

    main {
        padding-top:93px;
        width: 80%;
        margin-left: 10%;
        
        h1 {
            font-size: 3.6em;
        }

        h2 {
            font-size: 1.9em;
        }
    }
}
@media screen and (min-width: 992px) {
    .header-nav-content {
        .header-link {
            margin: 45px;
            font-size: 20px;
            line-height: 3px;
        }
    }

    main {
        padding-top: 93px;
        width: 75%;
        margin-left: 12.5%;
        
        h1 {
            font-size: 3.7em;
        }

        h2 {
            font-size: 2em;
        }
    }
}
@media screen and (min-width: 1200px) {
    .header-nav-content {
        .header-link {
            margin: 60px;
            font-size: 20px;
            line-height: 3px;
        }
    }
    .contact-form {
        width: 84%;
        height: 520px;
        margin-left: 8%;
        margin-top: 25px;
    }
}